@media screen and (max-width: 515px) {
  header {
    height: auto;
    position: sticky; /* Оставил как вы просили */
    top: 0;
    height: 40px;
  }

  header a {
    display: none;
  }

  .mobile_icon {
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 5px;
    margin: 5px;
  }

  .mobile_icon img {
    width: 100%;
  }

  .popup {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, .8);
  }

  /* Теперь меню открывается, когда у header есть класс .open */
  header.open .popup a {
    display: block;
    text-align: center;
    color: black;
    margin: 10px 0;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}

/* Новые стили для модального окна из фото 5 */
#add_new_photo {
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(29, 29, 29, .5);
  display: none; /* Скрыто по умолчанию */
}

#add_new_photo.open {
  display: flex !important; 
}

#add_new_photo div {
  width: 80%;
  border: 2px solid #1d1d1d;
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
}

#add_new_photo input {
  padding: .5rem;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}