body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
}

p {
    position: relative;
    padding: 40px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 16px;
}

p::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

p:nth-of-type(1)::before {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-xrff6avD8sPYNo0Ewl1U6_KeQzFFrX4EcA&s");
}

p:nth-of-type(2)::before {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTopkEEbZVUk-uh7IDbqGBDO7_lzL5xDSUaA&s");
}

p:hover::before {
    opacity: 0.8;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

p:hover {
    color: yellow;
}

p:active {
    color: red;
}
