body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 500px;
    
}

.display {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;
}

#history {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 100px;
    overflow-y: auto;
    font-size: 14px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 600px;
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 32px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}