html, body, #container , #controls{
    width: 100%;
    height: 100%;
    margin: 0;
    
}
#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow:hidden ;
}
#container .photo {
    grid-row-start: 1;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;


}
#container .photo img{
    max-width: 100%;
    max-height: 100%;
}
#controls{
    position: absolute;
    top: 0;
    left: 0;
}
#controls button{
    background: rgb(255, 255, 255, .5);
    border: none;
    border-radius: 10px;
    padding: 0;

}
#controls button img{
    width: 3rem;
    height: 3rem;
    display: block;
}