html, body {
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
}

@keyframes input_focus {
    from {
        border-color: lightgray;
    }
    to {
        border-color: lightseagreen;
    }
}

form {
    margin: auto;
}

label {
    display: block;
    position: relative;
    margin-bottom: 2rem;

    &:has(:focus, :valid) {
        span {
            top: -1.5rem;
            left: 0;
        }
        input:focus {
            
         
            animation: input_focus .5s infinite alternate ;
        }
    }
}

span {
    display: block;
    position: absolute;
    left: 1rem;
    top: .5rem;
    cursor: text;
    transition: all .5s;
}

input {
    padding: .5rem 1rem;
    border: 2px solid gray;
    outline: none;
}

button {
    width: 100%;
    padding: 1rem;
    background: transparent;
    border: 2px solid lightseagreen;
    transition: all .5s;

    &:hover {
        background: lightseagreen;
        color: #fff;
    }
}