body {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: block;
}

.flex_container {
    display: flex;
    height: calc(100% - 0px); 
    flex-direction: column;
    gap: 10px;
}

.flex_row {
    display: flex;
    flex: 1;
    gap: 10px;
    min-height: 0;
}

.flex_row.double {
    flex: 2;
}


.flex_row > img, .flex_row.double .flex_column {
    flex: none; 
    width: calc((100% - 20px) / 3);
}


.flex_row.double > img {
    flex: none;
    width: calc(2 * ((100% - 20px) / 3) + 10px);
}

.flex_row.double .flex_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex_row.double .flex_column img {
    width: 100%;
    flex: 1;
    height: 0;


}
.grid {
    display: grid;
    height: 100vh;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    
    box-sizing: border-box;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#p4 {
    grid-row: 2 / span 2;
    grid-column: 1 / 3;
}
